
.modal-image {
    width: 100%;
    height: auto;
    max-height: 50rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: .5;
}

.modal-title {
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 2rem;
}

.modal-source, .modal-date {
    font-family: "Comfortaa", sans-serif;
    color: #bbb;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.modal-content-text {
    color: #ddd;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 2.7rem;
}

.read-more-link {
    width: 15rem;
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--main-color), var(--blue-color));
    margin-top: 2rem;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5rem;
    letter-spacing: .1rem;
}

.read-more-link:active {
    transform: translateY(.1rem);
}